In [ ]:
'''
VMP 2022-03-05: explore theta
'''

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# read file 
d = pd.read_csv("../data/theta/diplomats_noretweet_theta_df.csv")

In [4]:
d.head(5)

,Unnamed: 0,created_at,followers_count,following_count,hashtags,lang,like_count,listed_count,reply_count,retweet,...,var 15,var 16,var 17,var 18,var 19,var 20,var 21,var 22,var 23,var 24
0,1107,2020-02-02,18095.0,737.0,NaN,en,3.0,202.0,0.0,quoted,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,32627,2021-02-27,62348.0,615.0,NaN,en,15.0,633.0,8.0,replied_to,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,32628,2021-02-27,62348.0,615.0,NaN,en,76.0,633.0,20.0,original,...,0.359594,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32629,2021-02-26,62348.0,615.0,NaN,en,19.0,633.0,5.0,original,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32630,2021-02-26,62348.0,615.0,NaN,en,11.0,633.0,3.0,original,...,0.000000,0.0,0.193542,0.0,0.0,0.0,0.0,0.0,0.0,0.0